<app-breadcrumb
  [title]="'registerTrade.editor.AnnualAuditorReport' | translate"
></app-breadcrumb>
<div fxLayout="row" class="p-4 mt-4">
  <mat-card fxFlex="100" class="p-2">
    <mat-card-header fxLayout="row">
      <div fxFlex="60">
        <mat-card-title
          >{{ "registerTrade.editor.AnnualAuditorForm" | translate }}
        </mat-card-title>
      </div>
      <div fxFlex fxLayoutAlign="end">
        <button mat-button [routerLink]="['../annual-financial-auditor-list']">
          <i class="material-icons"> fast_rewind </i>
          {{ "registerTrade.editor.SendAndSericeFollowUp" | translate }}
        </button>
      </div>
    </mat-card-header>

    <mat-tab-group
      mat-stretch-tabs
      class="example-stretched-tabs mat-elevation-z1"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          General Information
          <mat-icon class="example-tab-icon">create_new_folder</mat-icon>
        </ng-template>

        <mat-accordion>
          <mat-expansion-panel
            [expanded]="generalInfo"
            class="p-3 example-headers-align green-font"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Annual Audit Report </mat-panel-title>
              <mat-panel-description>
                Fill New Annual Report
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form
              [formGroup]="form"
              role="form"
              fxFlex.gt-lg="100"
              fxFlex.gt-md="100"
              fxFlex.gt-xs="100"
              fxFlex="100"
            >
              <div class="row wrap" fxLayoutGap="2em">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{
                    "registerTrade.editor.OrganizationName" | translate
                  }}</mat-label>
                  <input
                    matInput
                    formControlName="OrganizationName"
                    readonly
                    placeholder="Placeholder"
                  />
                </mat-form-field>
              </div>

              <div class="row wrap" fxLayoutGap="2em">
                <!-- <mat-form-field fxFlex>
                  <mat-label
                    >{{ "registerTrade.editor.OrganizationName" | translate }}
                  </mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="OrganizationName"
                    readonly
                  />
                </mat-form-field> -->

                <mat-form-field appearance="outline" fxFlex>
                  <mat-label
                    >{{ "registerTrade.editor.BudgetYear" | translate }}
                  </mat-label>
                  <mat-select matInput name="year" formControlName="Year">
                    <mat-option
                      *ngFor="let tradeAccomplish of yearList"
                      [value]="tradeAccomplish"
                    >
                      {{ tradeAccomplish }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row-wrap" fxLayoutGap="2em">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label
                    >{{ "registerTrade.editor.AnnualBudgetCloser" | translate }}
                  </mat-label>
                  <mat-select formControlName="AnnualBudgetCloserId">
                    <mat-option
                      *ngFor="let notAccomplish of annualBudgetCloserIdList"
                      [value]="notAccomplish.Id"
                    >
                      {{ notAccomplish.Description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row-wrap" fxLayoutGap="2em">
                <mat-form-field
                  appearance="outline"
                  fxFlex
                  *ngIf="customerTypeId === 5"
                >
                  <mat-label
                    >{{ "registerTrade.editor.OrganizationName" | translate }}
                  </mat-label>
                  <mat-select
                    matInput
                    type="text"
                    id="commudity"
                    formControlName="Ecxcode"
                    required
                  >
                    <mat-option
                      *ngFor="let commidityType of listOfExchangeActor"
                      [value]="commidityType.Id"
                    >
                      <span>{{ commidityType.Description }}</span>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="Ecxcode.hasError('required')">
                    {{ "common.validation.Required" | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  fxFlex
                  *ngIf="
                    customerTypeId === 6 ||
                    customerTypeId === 72 ||
                    customerTypeId === 88 ||
                    customerTypeId === 90
                  "
                >
                  <mat-label
                    >{{
                      "registerTrade.editor.IndependentAuditorEcxCode"
                        | translate
                    }}
                  </mat-label>
                  <mat-select
                    matInput
                    type="text"
                    id="EcxCode"
                    formControlName="Ecxcode"
                    required
                  >
                    <mat-option
                      *ngFor="let commidityType of listOfExchangeActor"
                      [value]="commidityType.Id"
                    >
                      <span>{{ commidityType.Description }}</span>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="Ecxcode.hasError('required')">
                    {{ "common.validation.Required" | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row-wrap" fxLayoutGap="2em">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label
                    >{{ "registerTrade.editor.AuditorRemark" | translate }}
                  </mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    id="Remark"
                    formControlName="Remark"
                    rows="5"
                  >
                  </textarea>
                </mat-form-field>
              </div>
              <mat-card-actions align="end">
                <div fxLayout="row" layout-align="start center">
                  <button mat-raised-button color="warn" (click)="clearForm()">
                    &nbsp;{{ "registerTrade.editor.Clear" | translate }}
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="saveOrUpdate()"
                    [disabled]="!form.valid"
                  >
                    &nbsp; &nbsp; &nbsp; &nbsp;{{
                      "registerTrade.editor.Save" | translate
                    }}&nbsp; &nbsp;
                  </button>
                </div>
              </mat-card-actions>
            </form>
          </mat-expansion-panel>
          <mat-expansion-panel
            [expanded]="generalInfoList"
            *ngIf="totalCount != 0"
            class="p-3 example-headers-align green-font"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> List Of Annual Audit Report </mat-panel-title>
              <mat-panel-description>
                View and Edit Annual Audit Report
                <mat-icon>view_agenda</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-table
              [dataSource]="dataSource"
              matSort
              matSortStart="desc"
              class="mat-elevation-z8"
            >
              <!-- <ng-container matColumnDef="no">
                <mat-header-cell
                  *matHeaderCellDef
                  [ngClass]="'customWidthClass'"
                  >{{ "registerTrade.editor.Sno" | translate }}
                </mat-header-cell>
                <mat-cell
                  mat-cell
                  *matCellDef="let element; let i = index"
                  [ngClass]="'customWidthClass'"
                >
                  {{ i + 1 }}
                </mat-cell>
              </ng-container> -->

              <ng-container matColumnDef="OrganizationName">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >{{ "registerTrade.editor.OrganizationName" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let caseList">
                  {{ caseList.OrganizationName }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="AnnualBudgetCloser">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >{{ "registerTrade.editor.AnnualBudgetCloser" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let caseList">
                  {{ caseList?.AnnualBudgetCloser }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="DateReport">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >{{ "registerTrade.editor.ReportDate" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let caseList">
                  {{ caseList?.DateReport }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="AuditorName">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >{{ "registerTrade.editor.IndependentAuditor" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let caseList">
                  {{ caseList?.AuditorName?.OrganizationName }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="AnnualAuditStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >{{ "registerTrade.editor.AnnualAuditStatus" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  <span
                    [ngStyle]="{
                      color: setTradeStatusColor(
                        complaint.TradeExcutionStatusTypeId
                      ),
                      'font-size': 50
                    }"
                    >{{ complaint?.AnnualAuditStatus }}</span
                  >
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>

                <mat-cell *matCellDef="let inv">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      matTooltip="{{ 'common.commands.Edit' | translate }}"
                      (click)="editAnnualReport(inv)"
                    >
                      <mat-icon color="primary">view_list</mat-icon>
                      <span>View and Edit</span>
                    </button>
                    <button
                      mat-menu-item
                      matTooltip="{{ 'common.commands.Delete' | translate }}"
                      (click)="deleteAnnualDelete(inv)"
                    >
                      <mat-icon color="warn">delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayAnnualColumns"
                role="row"
                class="mat-header-row"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayAnnualColumns"
                class="element-row"
              ></mat-row>
            </mat-table>
            <mat-paginator
              [showFirstLastButtons]="true"
              [length]="totalCount"
              [pageSize]="paginationService.pageCount"
              [pageSizeOptions]="paginationService.selectItemsPerPage"
              (page)="switchPage($event)"
            >
            </mat-paginator>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab *ngIf="auditorId != ''">
        <ng-template mat-tab-label>
          Net Worth
          <mat-icon class="example-tab-icon">hot_tub</mat-icon>
        </ng-template>
        <div class="responsive-table" class="mat-elevation-z2 p-5 m-2">
          <div class="responsive-table" style="margin: 5px">
            <mat-card-title align="end">
              <button
                color="primary"
                mat-button
                type="button"
                (click)="AddMemeberFinancialClient()"
              >
                <i class="material-icons" style="margin-left: -5px">add_box</i
                >{{ "registerTrade.editor.AddNewFinancial" | translate }}
              </button>
            </mat-card-title>
            <mat-table
              [dataSource]="fianaceDataSource"
              matSort
              matSortStart="desc"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="no">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.Sno" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="TotalIncome">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.TotalIncome" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  {{ complaint?.TotalIncome | number: "1.0":"en-US" }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="TotalPerShare">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.TotalPerShare" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  {{ complaint?.TotalPerShare | number: "1.0":"en-US" }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="TotalFixedAsset">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.TotalFixedAsset" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  {{ complaint?.TotalFixedAsset | number: "1.0":"en-US" }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="TotalWealth">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.TotalWealth" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  {{ complaint?.TotalWealth | number: "1.0":"en-US" }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="TotalTemporaryDebts">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.TotalTemporaryDebts" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  {{ complaint?.TotalTemporaryDebts | number: "1.0":"en-US" }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="TotalLongTermDebts">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.TotalLongTermDebts" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  {{ complaint?.TotalLongTermDebts | number: "1.0":"en-US" }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="TotalDebts">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.TotalDebts" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  {{ complaint?.TotalDebts | number: "1.0":"en-US" }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="NetAssets">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.NetAssets" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let complaint">
                  {{ complaint?.NetAssets | number: "1.0":"en-US" }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="11">
                  {{ "registerTrade.editor.LoadingData" | translate }}
                </mat-footer-cell>
              </ng-container>

              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="11">
                  {{ "registerTrade.editor.NoData" | translate }}
                </mat-footer-cell>
              </ng-container>

              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let financialTrade">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-icon-button
                      matTooltip="{{ 'common.commands.Edit' | translate }}"
                      (click)="getFinancialTrade(financialTrade)"
                    >
                      <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      matTooltip="{{ 'common.commands.Delete' | translate }}"
                      (click)="deleteMemberFinancialTrade(financialTrade)"
                    >
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedFinancials"
                role="row"
                class="mat-header-row"
              >
              </mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedFinancials"
                matRipple
                class="element-row"
              ></mat-row>
            </mat-table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 25, 50]"
              showFirstLastButtons
            >
            </mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="auditorId != ''">
        <ng-template mat-tab-label>
          {{ "registerTrade.editor.DocumentFileUpload" | translate }}
          <mat-icon class="example-tab-icon">cloud_upload</mat-icon>
        </ng-template>
        <div class="responsive-table" class="mat-elevation-z2 p-5 m-2">
          <div
            class="responsive-table"
            style="margin: 5px"
            *ngIf="memberId != ''"
          >
            <mat-card-title align="end">
              <input
                hidden
                type="file"
                #fileInput
                (change)="handleFileInput($event)"
              />
              <span style="margin-right: 10px; color: #000">{{
                SelectedFilename
              }}</span>
              <span style="margin-right: 10px">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="fileInput.click()"
                >
                  <mat-icon style="margin-top: -5px" class="mat-8"
                    >add</mat-icon
                  >
                  {{ "registerTrade.editor.SelectPDFFile" | translate }}
                </button>
              </span>

              <span>
                <button
                  mat-raised-button
                  color="primary"
                  [disabled]="SelectedFilename.length === 0"
                  (click)="handleSubmit($event)"
                >
                  <mat-icon style="margin-top: -5px" class="mat-8"
                    >open_in_browser</mat-icon
                  >
                  {{ "registerTrade.editor.Upload" | translate }}
                </button>
              </span>
            </mat-card-title>
            <mat-table
              [dataSource]="fileDataSource"
              matSort
              matSortStart="desc"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="no">
                <mat-header-cell
                  *matHeaderCellDef
                  [ngClass]="'customWidthClass'"
                >
                  {{ "registerTrade.editor.Sno" | translate }}
                </mat-header-cell>
                <mat-cell
                  mat-cell
                  *matCellDef="let element; let i = index"
                  [ngClass]="'customWidthClass'"
                >
                  {{ i + 1 }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="FileName">
                <mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  [ngClass]="'columnWidth'"
                >
                  {{ "registerTrade.editor.FileName" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let caseList" [ngClass]="'columnWidth'">
                  {{ caseList.FileName }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="CreatedDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "registerTrade.editor.CreatedDate" | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let caseList">
                  {{ caseList.CreatedDate }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let clientList">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <a
                      target="_blank"
                      href="{{ baseDocumentUrl + clientList.FileName }}"
                      mat-icon-button
                      fxFlexAlign="end"
                      type="button"
                    >
                      <mat-icon>remove_red_eye</mat-icon>
                    </a>

                    <button
                      mat-icon-button
                      matTooltip="{{ 'common.commands.Delete' | translate }}"
                      (click)="deleteMemberClientInformation(clientList)"
                    >
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="3">
                  {{ "registerTrade.editor.LoadingData" | translate }}
                </mat-footer-cell>
              </ng-container>

              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="3">
                  {{ "registerTrade.editor.NoData" | translate }}
                </mat-footer-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
                role="row"
                class="mat-header-row"
              >
              </mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
              <mat-footer-row
                *matFooterRowDef="['loading']"
                [ngClass]="{ hide: dataSource != null }"
              >
              </mat-footer-row>
              <mat-footer-row
                *matFooterRowDef="['noData']"
                [ngClass]="{
                  hide: !(dataSource != null && dataSource.data.length == 0)
                }"
              ></mat-footer-row>
            </mat-table>
            <mat-paginator
              [showFirstLastButtons]="true"
              [length]="totalCount"
              [pageSize]="paginationService.pageCount"
              [pageSizeOptions]="paginationService.selectItemsPerPage"
              (page)="switchPage($event)"
            >
            </mat-paginator>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
