.table-overflow {
    height: 200px;
    overflow: auto;
}

.hide {
    display: none;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #d2ebff;
}

mat-cell {
    display: flex !important;
    justify-content: center !important; // or flex-end
}

mat-header-cell {
  display: flex;
  justify-content: center;
  //background-color: #00796b;
 // color: white;
}