<button mat-button fxHide fxShow.gt-xs class="language-button"  [matMenuTriggerFor]="languageMenu">
    <div fxLayout="row" fxLayoutAlign="center center">
        <img class="flag mr-8" [src]="'../../assets/flags/'+selectedLanguage+'.png'">
        <span class="iso text-uppercase">{{selectedLanguageName}}</span>
    </div>
</button>

<mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngFor="let lang of languages" (click)="setLang(lang.locale)">
        <div fxLayout="row" fxLayoutAlign="start center">
            <img class="flag mr-16" [src]="'../assets/flags/'+lang.locale+'.png'">
            <span class="iso">{{lang.name}}</span>
        </div>
    </button>
</mat-menu>