<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort matSortStart="desc" class="mat-elevation-z8">
    <ng-container matColumnDef="sn">
      <mat-header-cell *matHeaderCellDef>{{'registerTrade.editor.Sno' | translate}}</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element; let i = index;">
        {{i + 1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DescriptionAmh">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'registerTrade.editor.ReportPeriod' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let caseList">
        {{caseList.DescriptionAmh}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="StartMonthAmh">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'registerTrade.editor.StartMonth' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let caseList">
        {{caseList.StartMonthAmh}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EndMonthAmh">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'registerTrade.editor.EndMonth' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let caseList">
        {{caseList.EndMonthAmh}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="BeginningDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'registerTrade.editor.StartDate' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let caseList">
        {{caseList.BeginningDate}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'registerTrade.editor.DeadLine' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let caseList">
        {{caseList.EndDate}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef>
        <button mat-button color="primary" matTooltip="Add New Record" (click)="openEditRegionDialog(0)">
          <mat-icon class="mat-button-icon">add</mat-icon>
          {{'common.commands.Add' | translate}}
        </button>

      </mat-header-cell>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let register ">
        <button [disabled]="!canManageSetting" mat-icon-button matTooltip="edit"
          (click)="openEditRegionDialog(register.ReportPeriodId)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button [disabled]="!canManageSetting" mat-icon-button matTooltip="delete"
          (click)="deleteReportPeriod(register)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="10">
        {{'registerTrade.editor.LoadingData' | translate}}
      </mat-footer-cell>
    </ng-container>


    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="10">
        {{'registerTrade.editor.NoData' | translate}}
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" role="row" class="mat-header-row">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" matRipple class="element-row"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource !=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
      [ngClass]="{'hide': !(dataSource != null && dataSource.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>
