.mat-toolbar {
  margin: 0;
  margin-bottom: 0;
  width: auto;
}

.mat-dialog-content {
  margin: 0 0;
  padding: 0 !important;
  height: 70%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px !important;
}

.mat-dialog-container {
  padding: 3px !important;
}


