.hide {
  display: none;
}
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
table {
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #d2ebff;
}
mat-cell {
  display: flex !important;
  justify-content: center !important; // or flex-end
}

mat-header-cell {
  display: flex;
  justify-content: center;
}
