
<div class="section-gap pb-0" style="margin-top:90px; margin-left: 2%; margin-right: 2%">
    <div class="container">
      <div fxLayout="row wrap" class="col-gap feature-section-v2">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-card style="background-color:whitesmoke">
            <div class="feature-section-v2-list" fxLayoutAlign="space-between">
              <button mat-fab color="primary"><i class="material-icons">
                  account_circle
                </i></button>
              <div class="ml-4 feature-section-v2-content">
                <h4 class="mb-2 font-bold"><a routerLink="/auth/login">Create Account</a></h4>
                <p class="mb-0">Please register to access our online services. You also need to confirm your account after registration</p>
            </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-card style="background-color:whitesmoke">
            <div class="feature-section-v2-list" fxLayoutAlign="space-between">
              <button mat-fab color="primary"><i class="material-icons">
                  lock_open
                </i></button>
              <div class="ml-4 feature-section-v2-content">
                <h4 class="mb-2 font-bold"><a routerLink="/auth/login">Login</a></h4>
                <p class="mb-0">Login to access our services, if you already have created online account.</p>
                <br>
            </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-card style="background-color:whitesmoke">
            <div class="feature-section-v2-list" fxLayoutAlign="space-between">
              <button mat-fab color="primary"><i class="material-icons">
                thumb_up
                </i></button>
              <div class="ml-4 feature-section-v2-content">
                <h4 class="mb-2 font-bold">Get Information</h4>
                <p class="mb-0">Information about each online service, document requirements and service fee is available here.</p>
              </div>
            </div>
          </mat-card>
        </div>
       
      </div>
    </div>
  </div>