.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

mat-cell {
  display: flex !important;
  justify-content: left !important; // or flex-end

}

mat-header-cell {
  display: flex;
  justify-content: left;
  background-color: #00796b;
  color: white;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #d2ebff;
}

.customWidthClass {
  flex: 0 0 110px;
}

.columnWidth {
  flex: 2 0 0;
}
