.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
}

.app-toolbar-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

h1.app-name {
  margin-left: 8px;
}

h1.app-name > a {
  color: inherit;
  cursor: default;
  text-decoration: inherit;
}

.app-sidenav-nav {
  min-width: 200px;
}

.app-sidenav-nav .mat-nav-list {
  padding-top: 0;
}

.app-sidenav-nav .mat-icon {
  margin-left: 8px;
  margin-right: 16px;
}

.app-sidenav-nav .mat-expansion-panel-header {
  padding-left: 16px;
}

.app-sidenav-nav .mat-expansion-panel-header-title {
  line-height: 24px;
}

.app-sidenav-nav .mat-expansion-panel-body {
  padding: 0;
}

.app-sidenav-nav .mat-expansion-panel-body .mat-list-item .mat-list-item-content {
  padding-left: 32px;
}

.app-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
   causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.is-mobile .app-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
   `<body>` to be our scrolling element for mobile layouts. */
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.logo {
  font-weight: 700;
  text-decoration: none;
  min-width: 160px;
  color: #fff;
  border: none;
}

.logo img {
  width: 160px;
}

.logo.mobile {
  min-width: 160px;
}

.logo.mobile span {
  display: none;
}

.landing-toolbar {
  position: fixed;
  top: 0;
  height: 56px !important;
  z-index: 2;
}

.landing-toolbar button {
  text-transform: capitalize;
  font-weight: 400;
}

.landing-toolbar .logo {
  min-width: 160px !important;
}

#mainContent {
  background-color: #e2e2e2;
}

a {
  -webkit-transition: background-color 200s ease-out;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  color: #259184;
}

a .mat-icon {
  color: #259184;
}

a:hover, a:active, a.active {
  color: #fff;
  background-color: #259184 !important;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #13786b;
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #13786b;
}

a:hover .mat-icon, a:active .mat-icon, a.active .mat-icon {
  color: #fff;
}

.nav-expansion-panel {
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.nav-expansion-panel .mat-icon {
  color: #259184;
}

.nav-expansion-panel:hover .mat-expansion-panel-header {
  -webkit-transition: background-color 200s ease-out;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  background-color: #259184;
}

.nav-expansion-panel:hover .mat-expansion-panel-header .mat-icon, .nav-expansion-panel:hover .mat-expansion-panel-header .mat-expansion-panel-header-title {
  color: #fff;
}
/*# sourceMappingURL=sidebar.component.css.map */